canvas {
    opacity: 1;
    background-image: -webkit-gradient(
        linear,
        left top,
        left bottom,
        color-stop(0, #31A645),
        color-stop(1, #008080)
    );
    background-image: -o-linear-gradient(bottom, #31A645 0%, #008080 100%);
    background-image: -moz-linear-gradient(bottom, #31A645 0%, #008080 100%);
    background-image: -webkit-linear-gradient(bottom, #31A645 0%, #008080 100%);
    background-image: -ms-linear-gradient(bottom, #31A645 0%, #008080 100%);
    background-image: linear-gradient(to bottom, #31A645 0%, #008080 100%);;
}
canvas.preload {
    background-image: -webkit-gradient(
        linear,
        left top,
        left bottom,
        color-stop(0, #008080),
        color-stop(1, #05ABAB)
    );
    background-image: -o-linear-gradient(bottom, #008080 0%, #05ABAB 100%);
    background-image: -moz-linear-gradient(bottom, #008080 0%, #05ABAB 100%);
    background-image: -webkit-linear-gradient(bottom, #008080 0%, #05ABAB 100%);
    background-image: -ms-linear-gradient(bottom, #008080 0%, #05ABAB 100%);
    background-image: linear-gradient(to bottom, #008080 0%, #05ABAB 100%);
}